---
import BaseLayout from '$layouts/Base.astro'

import CreateModal from '$components/admin/content/CreateModal.astro'
import ContentTable from '$components/admin/content/Table.astro'

const table = Astro.url.pathname.split('/').filter(n => n).pop();
const modalId = `amdin-content-create-modal`;
---

<BaseLayout
  auth={true}
  admin={true}
  title={table + " List"}
  description={table + "Manager"}>

  <div class="d-flex flex-row justify-content-center align-items-center px-3">
    <a
      class="d-none d-lg-block btn btn-outline-primary pt-0"
      href="/auth/admin">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    </a>

    <h1 class="w-100 text-capitalize">{table} manager</h1>

    <button
      type="button"
      class="btn btn-primary d-none d-lg-block flex-shrink-1"
      data-bs-toggle="modal"
      data-bs-target={`#${modalId}`}>Create</button>
  </div>

  <hr />

  <div class="px-xl-2">
    <ContentTable table={table} />
  </div>

  <CreateModal table="module" modalId={modalId} />
</BaseLayout>
