---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

import BaseLayout from '$layouts/Base.astro'

import teamMain from '$images/about/about_team-group_cartoon.png'

const groupOne = await getCollection('members', ({ data }) => {
  return data.group === 1;
})

const groupTwo = await getCollection('members', ({ data }) => {
  return data.group === 2;
})
---

<style>
img {
  transition: all 0.5s;
  filter: grayscale(10%);
}

img:hover {
  border: 2px solid var(--bs-primary) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) !important;
  filter: grayscale(0);
}
</style>

<BaseLayout
  auth={false}
  admin={false}
  title="About us"
  description="About the project and its memembers">
  <section class="px-0 px-md-4 py-4 mx-auto text-center">
    <h1>Who we are!</h1>

    <div class="row justify-content-center">
      <div class="col col-md-9">
        <p class="lead">
          Texto introductorio sobre el proyecto y sus integrantes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea architecto hic impedit at eum sint iste quia voluptatum.
        </p>
      </div>
    </div>

    <div style="max-width: 720px; margin: 0 auto;">
      <Image
        class="img-fluid border border-2 rounded shadow-sm"
        src={teamMain}
        format={'webp'}
        widths={[240, 540, 720, teamMain.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${teamMain.width}px`}
        alt="Team members" />
    </div>
  </section>

  <hr class="my-4" />

  <!-- <section class="container my-4 p-md-4 mx-auto"> -->
  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h3 text-center">Principal:</h2>

    <div class="row mt-4">
      <div class="col-sm-12 col-lg-4 text-center">
        <Image
          class="border border-2 rounded-circle"
          src="https://i0.wp.com/cdn.auth0.com/avatars/bm.png?ssl=1"
          format={'webp'}
          width={160}
          height={160}
          alt="Principal member" />

        <h3 class="h4 text-primary">Base Manager</h3>
      </div>

      <div class="col ms-3 d-flex">
        <div class="my-auto">
          <p class="h5"><u>Title</u></p>
          <p>
            Departamento de Personalidad, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea architecto hic impedit at eum sint iste quia voluptatum.
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <!-- <section class="container my-4 p-md-4 mx-auto"> -->
  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h4">Group One:</h2>

    <div class="row gap-3 justify-content-center">
      {
      groupOne.map((member) => (
      <div
        style="position: relative; margin-top: 100px;"
        class="card col-12 col-md-4">
        <Image
          style="position: absolute; top: -100px; left: 50%; transform: translateX(-50%);"
          class="border border-2 rounded-circle mt-2 mx-auto"
          format={'webp'}
          width={140}
          height={140}
          src={member.data.photo}
          alt="member photo" />

        <div class="mt-5 card-body text-center">
          <h3 class="card-title h5 text-primary">
            {member.data.name}
          </h3>

          <p class="lead">{member.data.position}</p>
          <p class="card-text">
            {member.data.department}
          </p>
        </div>
      </div>
      ))
      }
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <!-- <section class="container my-4 p-md-4 mx-auto"> -->
  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="h4">Group Two:</h2>

    <div class="row gap-3 justify-content-center">
      {
      groupTwo.map((member) => (
      <div
        style="position: relative; margin-top: 100px;"
        class="card col-12 col-md-4">
        <Image
          style="position: absolute; top: -100px; left: 50%; transform: translateX(-50%);"
          class="border border-2 rounded-circle mt-2 mx-auto"
          format={'webp'}
          width={140}
          height={140}
          src={member.data.photo}
          alt="member photo" />

        <div class="mt-5 card-body text-center">
          <h3 class="card-title h5 text-primary">
            {member.data.name}
          </h3>

          <p class="lead">{member.data.position}</p>
          <p class="card-text">
            {member.data.department}
          </p>
        </div>
      </div>
      ))
      }
    </div>
  </section>

  <hr class="w-75 mx-auto my-4 border border-primary" />

  <!-- <section class="container my-4 p-md-4 mx-auto"> -->
  <section class="px-0 px-md-4 py-4 mx-auto">
    <h2 class="mb-4 h4 text-primary text-center">
      Some collaborators:
    </h2>

    <p class="lead text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea architecto hic impedit at eum sint iste quia voluptatum.
    </p>
  </section>

  <hr class="my-4" />
</BaseLayout>
