---
const { class: className, id, current, inputId } = Astro.props
---

<div id={id} class:list={className}>
  <label for={inputId} class="form-label">Hero Image</label>

  <div class="input-group">
    <input class="form-control" type="text" id={inputId} value={current} />

    <button
      id="hero-picker"
      class="btn btn-outline-primary"
      type="button">
      Select
    </button>
  </div>

  <img id="hero-preview" class="img-fluid mt-2 rounded" loading="lazy" src={current} />
</div>

<script>
  import 'bootstrap/js/dist/modal'
</script>
